<div class="container p-4">
    <div class="row">
        <div class="col-md-4 m-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>SignIn</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo.png" alt="" class="card-img-top rounded-circle w-50">
                    <form action="/signin" method="POST">
                    <div class="mb-3">
                        <input type="text" name="username" id="username" placeholder="Username" class="form-control">
                    </div>
                    <div class="mb-3">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password">
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-success w-100" type="submit"> SignIn</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>